/* container */

#container{
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-p{
  text-align: center;
  margin-top: 1em;
  font-size: large;
  color: red;
  font-weight: 400;
}
.text-p-limit{
  text-align: center;
  margin-top: 1em;
  font-size: large;
  color:black;
  font-weight: 400;
}

.increament-btn{
  text-align:  center;
  color:#fff;
  padding: 15px 32px;
  border: none;
  background-color: #4CAF50;
  cursor: pointer;
  font-size: 24px;
  margin-right: 1rem;
}
.decreament-btn{
  text-align:  center;
  color:rgb(0, 183, 255);
  background-color: orangered;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 24px;
}